*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.main{
    display: flex;
}
.center{
    width: 60%;
    text-align: left;
    margin-left: 2em;
    height: 80vh;
}
.center p{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
header{
    background: purple;
    width: 100%;
    margin: auto;
    padding: 0.7em;
    text-align: center;
}
.advertisement{
    background: lightseagreen;
    color: white;
    margin-left: 2em;
    width: 20%;
    border: maroon dotted;
    padding: 0 0.5em;
}
.advertisement h3+p{
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.advertisement p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
}
.left{
    width: 20%;
}
.left>ul{
    background: lightseagreen;
    list-style: none;
    margin: 1em 0.5em;
    padding: 1em 0.5em 0.5em;
    text-align: center;
}
.left>ul>li>a{
   font-family: monospace;
   font-size: 1.5rem;
   color: white;
   text-decoration: none;
    margin-bottom:2em ;
}
.left ul>li{
    margin-bottom: 2em;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bold;
}
h3{
    font-family: cursive;
    font-size: 2rem;
}
footer{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    margin-top: 1em;
    background: lightseagreen;
}
footer a{
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-decoration: none;
}
footer p{
    
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-decoration: none;
}
a{
    padding:1em;
}
a:hover{
    background: teal;
    border-radius: 1em;
    z-index: 1em;
    font-weight: bold;
    box-shadow: gray 20px 30px 50px;
}
@media screen and (max-width:760px){
    *{
        flex-direction: column;
    }
    .left{
        width: 90%;
        margin-left: 5%;
    }
    .center{
        text-align: center;
        margin-left: 20%;
        height: 40%;
    }
    .advertisement{
        margin-left: 1.5em;
        margin-right: 1.5em;
        width: 90%;
        height: 20%;
    }
}